<head>
  <link rel="stylesheet" href="/css/welcome.css" />
<link href="https://fonts.googleapis.com/css?family=Karla|Stardos+Stencil" rel="stylesheet">
</head>

<div >
  <img id="welcome_page_photo" src="/images/tools.jpg" />

  <h1><span>t&uuml;l<span></h1>
  <h3><span>Log in to start borrowing and sharing tools</span></h3>



</div><!--.container-->
  <a href="/users/new"><button class="btn btn-primary btn-large">Sign Up!</button></a>
